.text-14{font-size:.875rem!important}
.pointer{cursor:pointer}.green{color:#00d0b5}.stat-widget-two{text-align:left!important}.h-20{height:20vh!important}label.validateErrors{animation:fade-up 1s;color:red;font-size:.6rem;margin-top:.2rem}@keyframes fade-up{0%{opacity:0;transform:translateY(100%)}to{opacity:1;transform:translateY(0)}}
