.text-14 {
    font-size: 0.875rem !important;
}
.text-32{
    font-size: 32px;
}
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* 
* 自定义表单错误信息样式
*/
label.validateErrors{
    color: red;
    font-size: 0.6rem;
    margin-top: 0.2rem;
    animation: 1s fade-up;
}

/*
 * disable form element css
*/
input[disabled],select[disabled]{
    background-color: #ecf0f1 !important;
}
.pointer{
    cursor: pointer;
}
.green{
    color: #00D0B5;
}
.stat-widget-two{
    text-align: left !important;
}
.content-body {
    min-height: 100vh !important;
}
/*
* drawer model css
*/
#drawer{
    padding-right:0px !important ;
}
#drawer .modal-dialog{
    max-width: 100vw !important;
    margin: 0 auto !important;
}
#drawer .modal-content{
    width: 30vw;
    float: right;
    height: 100vh;
}
/*
 hidden elements
*/
.hidden{
    display: none;
}

