@import "./font-size.css";
@import "./animation.css";
@import "./formElement.css";
.pointer{
    cursor: pointer;
}
.green{
    color: #00D0B5;
}
.stat-widget-two{
    text-align: left !important;
}
.content-body {
    min-height: auto !important;
}

