@import "./font-size.css";
@import "./animation.css";
@import "./formElement.css";
.pointer{
    cursor: pointer;
}
.green{
    color: #00D0B5;
}
.stat-widget-two{
    text-align: left !important;
}
.content-body {
    min-height: 100vh !important;
}
/*
* drawer model css
*/
#drawer{
    padding-right:0px !important ;
}
#drawer .modal-dialog{
    max-width: 100vw !important;
    margin: 0 auto !important;
}
#drawer .modal-content{
    width: 30vw;
    float: right;
    height: 100vh;
}
/*
 hidden elements
*/
.hidden{
    display: none;
}
